<template>
    <div class="hello">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Settings
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <button @click="changeColor('btn-outline-primary')" type="button" class="btn btn-primary">blue </button>
                </li>
                <li>
                    <button @click="changeColor('btn-outline-danger')" type="button" class="btn btn-danger">red </button>
                </li>
                <li>
                    <button @click="changeColor('btn-outline-success')" type="button" class="btn btn-success">green </button>
                </li>
                <li>
                    <button @click="changeColor('btn-outline-warning')" type="button" class="btn btn-warning">yellow </button>
                </li>
                <li>
                    <button @click="changeColor('btn-outline-dark')" type="button" class="btn btn-dark">black </button>
                </li>
                <li>
                    <button @click="changeColor('btn-outline-info')" type="button" class="btn btn-info">light blue </button>
                </li>
                <li>
                    <button @click="changeColor('btn-outline-link')" type="button" class="btn btn-link">weird </button>
                </li>
                <li>
                    <button @click="changeColor('btn-outline-light')" type="button" class="btn btn-light">light (very bad)</button>
                </li>
                <li>
                    <button @click="changeColor('btn-outline-secondary')" type="button" class="btn btn-secondary">grey </button>
                </li>
            </ul>
        </div>

        <div style="font-size: 55px" class="calculator-formula" v-cloak>formula: {{ formula }}</div>
        <div style="font-size: 55px" class="calculator-result" v-cloak>result: {{ result }}</div>

        <table align="center" border="30" width="300">
            <tbody>
                <tr>
                    <td class="calculator-item" @click="cleanAll()">
                        <button v-bind:class="[buttonClass]" type="button" class="btn calcbutton">C</button>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td @click="operate(7)" class="button">
                        <button v-bind:class="[buttonClass]" type="button" class="btn calcbutton">7</button>
                    </td>
                    <td @click="operate(8)">
                        <button v-bind:class="[buttonClass]" type="button" class="btn calcbutton">8</button>
                    </td>
                    <td @click="operate(9)">
                        <button v-bind:class="[buttonClass]" type="button" class="btn calcbutton">9</button>
                    </td>

                    <td @click="operate('/')">
                        <button v-bind:class="[buttonClass]" type="button" class="btn calcbutton">/</button>
                    </td>
                </tr>
                <tr>
                    <td @click="operate(4)">
                        <button v-bind:class="[buttonClass]" type="button" class="btn calcbutton">4</button>
                    </td>
                    <td @click="operate(5)">
                        <button v-bind:class="[buttonClass]" type="button" class="btn calcbutton">5</button>
                    </td>
                    <td @click="operate(6)">
                        <button v-bind:class="[buttonClass]" type="button" class="btn calcbutton">6</button>
                    </td>
                    <td @click="operate('*')">
                        <button v-bind:class="[buttonClass]" type="button" class="btn calcbutton">*</button>
                    </td>
                </tr>
                <tr>
                    <td @click="operate(1)">
                        <button v-bind:class="[buttonClass]" type="button" class="btn calcbutton">1</button>
                    </td>
                    <td @click="operate(2)">
                        <button v-bind:class="[buttonClass]" type="button" class="btn calcbutton">2</button>
                    </td>
                    <td @click="operate(3)">
                        <button v-bind:class="[buttonClass]" type="button" class="btn calcbutton">3</button>
                    </td>
                    <td @click="operate('-')">
                        <button v-bind:class="[buttonClass]" type="button" class="btn calcbutton">-</button>
                    </td>
                </tr>
                <tr>
                    <td @click="operate(0)">
                        <button v-bind:class="[buttonClass]" type="button" class="btn calcbutton">0</button>
                    </td>
                    <td @click="operate('.')">
                        <button v-bind:class="[buttonClass]" type="button" class="btn calcbutton">.</button>
                    </td>
                    <td @click="equal()">
                        <button v-bind:class="[buttonClass]" type="button" class="btn calcbutton">=</button>
                    </td>
                    <td @click="operate('+')">
                        <button v-bind:class="[buttonClass]" type="button" class="btn calcbutton">+</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <p></p>
        <p></p>

    </div>
</template>

<script>
export default {
  name: "Calculator",
  data() {
    return {
      formula: "",
      result: 0,
      buttonClass: ["btn-outline-primary"]
    };
  },
  props: {
    msg: String
  },
  methods: {
    cleanAll() {
      console.log("cleanAll..");
      this.formula = "";
      this.result = 0;
    },
    devided() {
      console.log("devided..");
      this.formula === "" ||
      this.formula.endsWith("+" || "-" || "*" || "/" || "%")
        ? {}
        : (this.formula = "1/(" + this.formula + ")");
      this.equal();
    },
    equal() {
      console.log("equal..");
      this.result = eval(this.formula);
    },

    operate(element) {
      console.log("operate..");
      this.formula += element;
    },
    changeColor(element) {
      console.log("change color...", element);
      this.buttonClass = [element];
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
td {
  color: red;
  font-size: 4em;
  border: 0px;
}
.calcbutton {
  width: 105px;
  height: 115px;
  font-size: 55px;
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
